$panel-height: 300px

#panel-container
  width: 100%
  height: $panel-height
  position: absolute
  bottom: 0
  z-index: 1
  display: flex
  font-size: 14px
  color: #B9F6CA
  background-color: rgba(33, 33, 33, 0.5)

.panel-card
  margin-right: 2px

#traffic-card
  background-color: rgba(1, 87, 155, 0.1)

#live-card
  background-color: rgba(3, 155, 229, 0.1)

#configuration-card
  background-color: rgba(1, 87, 155, 0.1)
