$panel-height: 300px

#panel-container
  width: 100%
  height: $panel-height
  position: absolute
  bottom: 0
  z-index: 1
  display: flex
  color: white
  font-size: 14px

.panel-card
  margin-right: 2px

#traffic-card
  background-color: rgba(1, 87, 155, 0.1)

#live-card
  background-color: rgba(3, 155, 229, 0.1)

#configuration-card
  background-color: rgba(1, 87, 155, 0.1)

#panel-bg
  width: 100%
  height: $panel-height
  position: absolute
  bottom: 0
  background-color: #212121
  opacity: 0.5
